@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}
h1,h2,h3,h4,h5 {
  margin: 10px 0;
}
p,li {
  margin: 5px 0;
}
ul,ol {
  text-align: left;
  padding-left: 20px;
}
ul {
  list-style-type: none;
}
.input {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  border: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fea571;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  min-width: 200px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.7);
}
.modal img {
  max-width: 150px;
}
.modal i {
  font-size: 3em;
}
.btn {
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0;
  border: 2px solid #FA5A04;
  border-radius: 10px;
  background-color: hsla(0,0%,100%,.5);
}
.btn:hover {
  background-color: hsla(0,0%,100%,.7);
}
.show {
  transform: scale(1);
  transition: scale 1s, ease .5s;
}
.hidden {
  transform: scale(0);
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: scale .7s, ease .5s;
}
.months {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.months .prev,
.months .next {
  cursor: pointer;
}
.day-of-week {
  width: calc(100% / 7);
  height: 70px;
  float: left;
  border-bottom: 1px solid lightgrey;
}
.days {
  width: 800px;
  height: 800px;
}
.day {
  position: relative;
  float: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: calc(100% / 7);
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
.day h1 {
  position: absolute;
  top: 10px;
}
.day span {
  position: absolute;
  bottom: 15px;
  font-size: 14px;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
